//ibt.jfrog.io/artifactory/api/npm/test-npm/:_auth_auth = "c2hhcmlxLm5hd2F6MDFAZ21haWwuY29tOkFQM0VZeFBrTWhkTXRxNHJzdGJjRjc0eTZtOA=="
email = shariq.nawaz01@gmail.com
always-auth = true
registry=https://ibt.jfrog.io/artifactory/api/npm/test-npm/
