//ibt.jfrog.io/artifactory/api/npm/test-npm/:_auth_auth = "eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJfaXN3cTNDdEN5bEEwbHRqM0tDVS1ES2dnWHZpdWtkMDR4em5nMDZKcWhVIn0.eyJzdWIiOiJqZmFjQDAxZ3dwZm0wM3B4bjE3MHMyYTFlbnAxNjRkL3VzZXJzL2h1emFpZmEiLCJzY3AiOiJhcHBsaWVkLXBlcm1pc3Npb25zL2FkbWluIiwiYXVkIjoiKkAqIiwiaXNzIjoiamZmZUAwMWd3cGZtMDNweG4xNzBzMmExZW5wMTY0ZCIsImlhdCI6MTcwNjk3OTgwMywianRpIjoiY2U0NzczN2EtZWU2Yi00NjdjLWJkYmUtNTg3OTEwY2NjYzViIn0.B1HBsS5G7xbUC8uMQ3zLoiSIij7S4I-wq0YRDzIlQUoHXi31P08UCUY0qCRn7W7x3JZWS0QP7waywDUc0wr4M09CFFtjDUR9f2uyCPEt7MpsjE3QhkReMZiltQZK-SPAzD9arBMelXT2clRKeldXPLvSZ7NipnEi54rmV0lgNptn7VnXNVhfPUzkyjWGpiVkhYqqCMdHTjCQRjTOq6oW1P7z3bBfk1u7xPQoQJb75r4Z5cPKidBencFTZg1YdTd599bMZrYEqZqk_hDkqwbL5iPmNwZH3iUwKFxfcIUnfbD8krlKfVJfbt8_gZK9pXckW9jFRc5ehgaizRUeqi3gLQ"
email = shariq.nawaz01@gmail.com
always-auth = true
registry=https://ibt.jfrog.io/artifactory/api/npm/test-npm/
